
body {
  background: black;
  color: #eee;
  font-family: "Inconsolata", monospace;

}
.str {
  color: red;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  color: #aaa;
}

.comment {
  color: #0000cf;
}





@media only print {
  .comment,
  .str {
    color: #333;
  }
  body {
    background: white;
    color: #333;
    font-family: serif;
  }

  a {
    text-decoration: underline;
    color: #ddd;
  }

  
  .vim {
    display: none;
  }
}
