
body {
  background: black;
  color: #eee;
  font-family: "Inconsolata", monospace;
  padding-bottom: 10%;

}
.str {
  color: red;
}

a {
  text-decoration: none;
  color: red;
}

hr {
  display: none;
}

a:hover {
  color: #aaa;
}

.comment {
  color: #0000cf;
}

.cmd {
  outline: none;
  background: black;
  font-family: "Inconsolata", monospace;
  color: #eee;
  border: none;
  display: block;
}

h2:before {
  content: "// ";
}
h2 {
  color: #0000cf;
}

/* add quotation marks */

.str:before,
.str:after {
  content: '"';
}

.statusline {
  background: black;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
}
.percent,
.cursor {
  float:right;
  width: 10%;
}
.filename {
  width: 80%:
}



@media only print {
  h2,
  .comment,
  .str {
    color: black;
  }
  body {
    background: white;
    color: black;
    font-family: serif;
  }

  a {
    text-decoration: underline;
    color: #ddd;
  }

  
  .vim {
    display: none;
  }


  /* remove added content for print view */

  .str:before,
  .str:after,
  h2:before {
    content: none;
  }
  hr {
    display: block;
  }
   
}
