/***********************
 * CSS Resets
 ***********************
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background: black;
  color: #eee;
  font-family: "Inconsolata", monospace;
  padding-bottom: 10%;

}
.str {
  color: red;
}

.code {
	color: #66ffff;
}

li {
	list-style: none;
}


a {
  text-decoration: none;
  color: red;
}

hr {
  display: none;
}


/************************
 * Custom Styles
 ************************
*/



a:hover {
  color: #aaa;
}

.comment,
h2 {
  color: #3355ff;
}

.cmd {
  outline: none;
  background: black;
  font-family: "Inconsolata", monospace;
  color: #eee;
  border: none;
  display: block;
}

h2:before {
  content: "// ";
}

/* add quotation marks */

.str:before,
.str:after {
  content: '"';
}

.statusline {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background: black;
}
.topline {
	background: white;
	color: black;
}
.percent,
.cursor {
  float:right;
  width: 10%;
}
.filename {
  width: 80%:
}

.environment {
	display: flex;
}

.resume {
	width: 100%;
	margin-bottom: 300px;
}


#contact-form {
	width: 50% - 5px;
	display: none;
	margin-bottom: 300px;
	margin-left: 5px;
	border-left: 5px solid gray;
}


#contact-form > * {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	padding: 10px;;
	display: block;
}

#contact-form > input,
#contact-form > textarea {
	background: #222;
	color: #999;
	border: #AAA;
	line-height: 20px;
	box-sizing: border-box;         /* For IE and modern versions of Chrome */
	-moz-box-sizing: border-box;    /* For Firefox                          */
	-webkit-box-sizing: border-box;
}

#contact-form [type='submit'] {
	border: 1px solid #ddd;
	border-radius: 2px;
}

/* Change autofill background color in webkit browsers */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
	-webkit-text-fill-color: #999;
}





br + input,
br + h2 {
	margin-bottom: 5px;
}

@media not print {
	h2 span,
	h1 span,
	li,
	a {
		line-height: 18px;
	}
	.print {
		display: none;
	}

	body {
		padding-left: 15px;
	}
}


@media only print {
  h2,
  .comment,
  .str {
    color: black;
  }
  body {
    background: white;
    color: black;
    font-family: serif;
  }

  a {
    text-decoration: underline;
    color: #ddd;
  }

  
  .vim {
    display: none;
  }


  /* remove added content for print view */

  .str:before,
  .str:after,
  h2:before {
    content: none;
  }
  hr {
    display: block;
  }
   
}
